.score-form, .highscore-list {
    position: absolute;
    max-width: 800px;
    height: 400px;
    top: 40%;
    left: 30%;
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    padding: 2rem;
}

.score-form > * {
    display: block;
    margin: 1rem;
}

.highscore-list {
    list-style: none;
}
.highscore-list > li {
    display: flex;
}

.highscore-list > li > span:first-child {
    width: 100px;
}